html {
	min-height: 100%;
	position: relative;
}

body {
font-family: 'Questrial', sans-serif;
color: #666666;
font-weight: 300;
font-size: 16px;
margin-bottom: 100px;
}

#thankyou, #reasons {
background-image: url(https://cloud.githubusercontent.com/assets/9150985/6258614/b5aed21c-b7d2-11e4-9ad1-38edfec04d72.jpg);
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.wrap-reasons, .wrap-thanks {
background: rgba(255,255,255,0.8);
padding-top: 100px;
}

.wrap-reasons h2 {
font-weight: bold;
}

.wrap-reasons h3 {
padding: 0.3em;
background: rgba(25,250,250,0.5);
}

h2, h3, h4 {
	color: #444;
}

.cat {
color: red;
font-size: 18px;
}

.title-logo {
margin-left:auto;
margin-right:auto;
}

.navbar-default {
background-color: rgba(25,25,25,0.5);
border: none;
}

.navbar-default .navbar-brand {
color: white;
}

.navbar-brand {
float: left;
padding: 15px 15px;
font-size: 18px;
height: inherit;
line-height: inherit;
}

.navbar-default .navbar-nav>li>a {
color: #b0c4de;
}

.navbar-default .navbar-collapse {
border: none;
}

.navbar-default .navbar-nav>li>a:hover {
text-decoration: underline;
color: #b0c4de;
}

.navbar-default .navbar-nav>li>a:visited {
text-decoration: underline;
color: #b0c4de;
}

.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:focus {
text-decoration: underline;
color: white;
}


@media (max-width: 767px) {
.navbar-nav {
background: rgba(255,255,255,0.8);
}
.navbar-default .navbar-toggle {
border: 2px solid #b0c4de;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #b0c4de;
}
.navbar-default .navbar-nav>li>a {
color: #777;
}
.navbar-default .navbar-nav>li>a:hover {
color: #777;
}
.navbar-default .navbar-nav>li>a:visited {
color: #777;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	padding:0 0 0.5em 2em;
}
}

.jumbotron {
background-image: url(https://cloud.githubusercontent.com/assets/9150985/5876356/4024e800-a31f-11e4-8926-69bc2ca1006c.jpg);
background-position: 50% 50%;
background-repeat: no-repeat;
background-size:cover;
color:white;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

@media screen and (min-width: 768px) {
.jumbotron h1, .jumbotron .h1 {
font-size: 50px;
}
.navbar-nav {
float: right;
margin: 0 5em 0 0;
}
}

.jumbotron h2 {
	color: white;
}

.jumbotron .glyphicon {
margin-right: 1em;
top: 0.2em;
}

#two.container, #three.container, .block5 {
	margin-bottom: 40px;
}

li {
	margin-top: 0.5em;
}

@media (min-width: 992px) {
.col-md-6.left {
	border-right: 1px solid #ddd;
}
}

.wrap-blue, .block6 {
	background: whitesmoke;
}

#three.container .img-responsive {
	margin:0 auto;
}

table {
	margin-left: auto;
	margin-right: auto;
}

#market table {
	background: lightsalmon;
}

#admin table {
   background: lightblue;
 }
 
 #comm table {
	background: gainsboro;
}
 
.block3 td {
	padding: 20px;
	width: 50%;
}

.block3 h3 {
	padding: 15px;
}

#market h3 {
   border: 5px solid lightsalmon;
}

#admin h3 {
   border:5px solid lightblue;
 }
 
 #comm h3 {
	border:5px solid gainsboro;
}

.wrap-white {
	padding:40px 0;
	background: #e7e7e7;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
}

/* CSS for Google Docs Contact Form */
.ss-q-item-label {
	font-weight: 500;
}

.ss-required-asterisk, .ss-secondary-text {
	color:red;
	font-weight: 700;
	font-size: 12px;
}

.required-message, .error-message {
	display:none;
}

#contact textarea, #contact input {
	display: block;
	width:100%;
}

.ss-item { 
	margin: 10px 0
}

#ss-submit {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:42px;
	line-height:42px;
	padding:0 5em;
	text-decoration:none;
	text-align:center;
	text-shadow:1px -1px 0px #528ecc;
}
#ss-submit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
cursor: pointer;
}
#ss-submit:active {
	position:relative;
	top:1px;
}
/* End: CSS for Google Docs Contact Form */
