body {
font-family: 'Questrial', sans-serif;
color: #3b3b3b;
font-weight: 300;
}

.navbar-default {
background-color: rgba(25,25,25,0.5);
border: none;
}

.navbar-default .navbar-nav>li>a {
color: ivory;
}

.navbar-default .navbar-collapse {
	border: none;
}

.navbar-default .navbar-nav>li>a:hover {
text-decoration: underline;
color: ivory;
}

.navbar-default .navbar-nav>li>a:visited {
text-decoration: underline;
color: ivory;
}

.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:focus {
text-decoration: underline;
color: white;
}


@media (min-width: 768px) {
.navbar-nav {
position: relative;
left: 20%;
}
}

@media (max-width: 767px) {
.navbar-nav {
margin: 17.5px -15px 0px -15px;
background: #fff;
border-bottom: 1px solid #e7e7e7;
}
.navbar-default .navbar-toggle {
border: 2px solid white;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: blue;
}
.navbar-default .navbar-nav>li>a {
color: #777;
}
.navbar-default .navbar-nav>li>a:hover {
color: #777;
}
.navbar-default .navbar-nav>li>a:visited {
color: #777;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	padding:0 0 0.5em 2em;
}
}

.title-logo {
margin-top: -10px;
}


.jumbotron {
background-image: url(https://cloud.githubusercontent.com/assets/9150985/5876356/4024e800-a31f-11e4-8926-69bc2ca1006c.jpg);
background-position: 50% 50%;
background-repeat: no-repeat;
background-size:cover;
color:ivory;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
padding: 70px 0 30px 0;
}

#two.container {
	margin-bottom: 40px;
}

.wrap-blue {
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
-webkit-box-shadow: 0px 0px 22px -1px rgba(5,5,5,0.87);
-moz-box-shadow: 0px 0px 22px -1px rgba(5,5,5,0.87);
box-shadow: 0px 0px 22px -1px rgba(5,5,5,0.87);
}

#three.container .img-responsive {
	margin:0 auto;
}


