<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Cost-effective marketing, administration and communication services for small to medium businesses and individual projects" />
		<meta name="keywords" content="marketing, administration, communication, small-to-medium-businesses, projects, seo, web development, graphic design, research, copywriting, content creation, transcription services, data capture, data mining, data analysis, data visualisation" />
		<link rel="stylesheet" href="http://omnimacs.co.za/stylesheets/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Questrial:400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://omnimacs.co.za/stylesheets/style.css">
		<!-- favicon -->
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<!-- Google Analytics -->
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			  ga('create', 'UA-60112253-2', 'auto');
			  ga('send', 'pageview');
			
			</script>
</head>
	<body id="reasons">
		<div class="wrap-reasons">
		<!-- NAVBAR
================================================== -->	
<div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://omnimacs.co.za">OmniM*A*C*S</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="http://omnimacs.co.za#market">Marketing</a></li>
                    <li><a href="http://omnimacs.co.za#admin">Administration</a></li>
                    <li><a href="http://omnimacs.co.za#comm">Communication</a></li>
                  </ul>
                </li>
                <li><a href="http://omnimacs.co.za#about">Why use us?</a></li>
                <li><a href="http://omnimacs.co.za#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div> <!-- NAVBAR -->
			<div class="container" id="blog1">
		    		<div class="row post1">
				    <div class="col-md-12">
					  {{ content }}  
				    </div>
			    	</div>
			</div>
			   	<div class="row post2">
			     		<div class="col-md-12 text-center">
					<img src="https://cloud.githubusercontent.com/assets/9150985/6391499/6ce25e44-bdbf-11e4-8396-0cfe65b2cae1.png" class="img-responsive title-logo" alt="logo">
			     		</div>
			   	</div>  
		</div> <!-- close wrap 'reasons' -->  
	<!-- FOOTER -->
	       	<div class="wrap-white">
	      		<div class="container footer">
	            			<div class="row">
	      				<div class="col-sm-12">
	              				<p class="pull-right"><a href="#">Back to top</a></p>
	              				<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +27 72 379 1217 &middot;
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@omnimacs.co.za">  info@omnimacs.co.za</a> &middot;
						<a href="https://www.facebook.com/omnimacs"><img src="https://cloud.githubusercontent.com/assets/9150985/6462355/f65daef4-c1b0-11e4-8c9a-93a631e9e194.png" alt"fblogo" width="16px" height="16px">  Follow us on Facebook</a></p>
	              				<p>&copy; 2014 OmniM*A*C*S &middot; <a href="http://omnimacs.co.za/privacy">Privacy</a></p>
	              			</div>	
	            			</div>
	            	</div>
	         </div>	
              		<script type="text/javascript" src="http://omnimacs.co.za/js/jquery-1.11.2.min.js"></script>
              		<script type="text/javascript" src="http://omnimacs.co.za/js/bootstrap.min.js"></script>
              		<!-- collapse expanded mobile navbar after clicking a link -->
              		<script>
              		$(document).on('click','.navbar-collapse.in',function(e) {
              			if( $(e.target).is('a') && ( $(e.target).attr('class') != 'dropdown-toggle' ) ) {
              			$(this).collapse('hide');
              		    		}
              			});	
              		</script>
	</body>
</html>
